html,
body,
.container {
  height: 100%;
}
.container {
  display: flex;
}
.container .board {
  margin: auto auto;
  text-align: center;
  line-height: 70px;
  width: 348px;
  height: 348px;
}
.container .board .cell {
  width: 70px;
  height: 70px;
  margin-right: 7px;
  border-radius: 4px;
  margin-bottom: 7px;
  background: rgba(216, 153, 17, 0.651);
  box-shadow: rgba(216, 153, 17, 0.651) 0 1px 2px 0;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in;
  position: absolute;
}
.container .empty {
  opacity: 0;
}
